<nav class="navbar navbar-light bg-light mb-4">
  <div class="container"> <!-- Changed from container-fluid to container for centered content -->
    <a href="/expense_tracker" class="navbar-brand">家庭記帳本</a>
    {{!-- <a href="/logout" class="btn btn-outline-danger">登出</a> --}}
    {{> navbar}}
  </div>
</nav>

<!-- Main Content -->
<div class="container mt-5"> <!-- Wrapper container for the content -->

  <!-- Category Filter -->
  <div class="row mb-4">

    <div class="col-md-8 col-12 mx-auto"> <!-- Restricted width with col-md-8 -->
      <label for="categoryId" class="form-label">類別</label>
      <form action="/expense_tracker" method="GET">
        <div class="form-group">
          <select id="categoryId" name="categoryId" class="form-control" onchange="this.form.submit()">
            <option value="" {{#unless matchedCategoryId}}selected{{/unless}}>請選擇類別</option>
            <option value=1 {{#if (eq matchedCategoryId 1 )}}selected{{/if}}>家居物業</option>
            <option value=2 {{#if (eq matchedCategoryId 2 )}}selected{{/if}}>交通出行</option>
            <option value=3 {{#if (eq matchedCategoryId 3 )}}selected{{/if}}>休閒娛樂</option>
            <option value=4 {{#if (eq matchedCategoryId 4 )}}selected{{/if}}>餐飲食品</option>
            <option value=5 {{#if (eq matchedCategoryId 5 )}}selected{{/if}}>其他</option>
          </select>
        </div>
      </form>
    </div>
  </div>

  <!-- Total Amount Display -->
  <div class="row mb-4">
    <div class="col-md-8 col-12 mx-auto"> <!-- Restricted width with col-md-8 -->
      <div class="text-center">
        <h1 class="text-danger">總金額：{{totalAmount}}</h1>
      </div>
    </div>
  </div>

  <!-- Spending Items List -->
  <div class="row">
    <div class="col-md-8 col-12 mx-auto"> <!-- Restricted width with col-md-8 -->

      {{> message}}
      <ul class="list-group">
        <!-- Example expense item layout -->
        {{#each records as |record|}}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <i class="fas {{getIcon record.categoryId}}  fa-2x me-3"></i>
            <div>
              <h5>{{record.name}}</h5>
              <small class="text-muted">{{formatDate record.date}}</small>
              <small class="text-muted">{{getCategoryName record.categoryId}}</small>
            </div>
          </div>
          <span>{{record.amount}}</span>
          <div>
            <a href="/expense_tracker/{{record.id}}/edit" class="btn btn-outline-secondary btn-sm me-2">修改</a>

            <form action="/expense_tracker/{{record.id}}?_method=DELETE" method="POST" class="d-inline">
              <button class="btn btn-outline-danger btn-sm">刪除</button>
            </form>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>

  <!-- New Expense Button -->
  <div class="text-center mt-4">
    <a href="/expense_tracker/new" class="btn btn-warning">新增支出</a>
  </div>

</div>